In [1]:
import warnings
warnings.filterwarnings('ignore')
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import OneHotEncoder
import random
import os
from sklearn.metrics import log_loss

In [2]:
d = "C:\kaggle_data\credit_card"
lst = os.listdir(d)
print(lst)
train = pd.read_csv(d + '\\' +lst[3])
test = pd.read_csv(d + '\\' +lst[2])
ss = pd.read_csv(d + '\\' +lst[1])
train = train.drop(['index'], axis=1)
train.fillna('NAN', inplace=True) 
test = test.drop(['index'], axis=1)
test.fillna('NAN', inplace=True)

['.ipynb_checkpoints', 'sample_submission.csv', 'test.csv', 'train.csv', 'Untitled.ipynb']

# 전처리

### family_type
- 'Married', 'Civil marriage'
- 'Separated',  'Widow'
- 'Single / not married'

In [23]:
# Married, Civil marriage
train['income_per_size'] = np.log(train['income_total']/train['family_size'])
test['income_per_size'] = np.log(test['income_total']/test['family_size'])
train.loc[(train['family_type']=='Married')|(train['family_type']=='Civil marriage'),'income_per_size']\
= train['income_per_size'] * 2

test.loc[(test['family_type']=='Married')|(test['family_type']=='Civil marriage'),'income_per_size']\
= test['income_per_size'] * 2

In [24]:
def simple_marry(x):
    if x == 'Married' or x =='Civil marriage':
        return '0'
    elif x == 'Separated' or x == 'Widow':
        return '1'
    else:
        return '2'

In [25]:
# 안 덮어쓰기
for df in [train,test]:
    df['family_bins'] = df['family_type'].apply(simple_marry)

In [26]:
# income_total을 로그변환 한 새로운 feature log_income
# 기존 칼럼 삭제
train['log_income'] = np.log(train['income_total'])
train = train.drop('income_total',1)
test['log_income'] = np.log(test['income_total'])
test = test.drop('income_total',1)

In [27]:
# car와 reality를 합친 새로운 칼럼 careality
train['car'] =train['car'].apply(lambda x: int(x=='Y'))
train['reality'] =train['reality'].apply(lambda x: int(x=='Y'))
test['car'] =test['car'].apply(lambda x: int(x=='Y'))
test['reality'] =test['reality'].apply(lambda x: int(x=='Y'))

train['careality'] = train['car'] + train['reality']
train = train.drop(['car', 'reality'],1)

test['careality'] = test['car'] + test['reality']
test = test.drop(['car', 'reality'],1)

In [28]:
object_col = []
for col in train.columns:
    if train[col].dtype == 'object':
        object_col.append(col)

In [29]:
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train.drop(object_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [30]:
test_onehot_df = pd.DataFrame(enc.transform(test.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test.drop(object_col, axis=1, inplace=True)
test = pd.concat([test, test_onehot_df], axis=1)

### 
- income_total
- begin_month
- DAYS_BIRTH

In [ ]:
# c = 'income_total'
# k = 2.2
# mean = train[c].mean()
# std = train[c].std()
# idxs = train.loc[(train[c]>= mean + k*std)|\
#                 (train[c]<= mean - k*std)].index
# train = train.drop(idxs).reset_index(drop=True)

In [11]:
# # out: 아웃라이어
# out_train = train.loc[train.DAYS_EMPLOYED>0]
# in_train = train.loc[train.DAYS_EMPLOYED<=0]


# out_test = test.loc[test.DAYS_EMPLOYED>0]
# in_test = test.loc[test.DAYS_EMPLOYED<=0]

<!-- ###
- DAYS_EMPLOYED -->

# 모델링, 학습

In [12]:
out_train = out_train.reset_index()
in_train = in_train.reset_index()

out_test = out_test.reset_index()
in_test = in_test.reset_index()

In [13]:
idx_out_train = out_train.pop('index')
idx_out_test = out_test.pop('index')

idx_in_train = in_train.pop('index')
idx_in_test = in_test.pop('index')

In [15]:
out_train.drop('DAYS_EMPLOYED',inplace=True,axis=1)
out_test.drop('DAYS_EMPLOYED',inplace=True,axis=1)

In [17]:
def tr(train):
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    folds=[]
    losses=[]
    for train_idx, valid_idx in skf.split(train, train['credit']):
        folds.append((train_idx, valid_idx))
    random.seed(42)
    lgb_models={}
    for fold in range(5):
        train_idx, valid_idx = folds[fold]
        X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                             train['credit'][train_idx].values, train['credit'][valid_idx].values 
        lgb = LGBMClassifier(n_estimators=1000)
        lgb.fit(X_train, y_train, 
                eval_set=[(X_train, y_train), (X_valid, y_valid)], 
                early_stopping_rounds=30,
               verbose=100)
        lgb_models[fold]=lgb
        losses.append(log_loss(y_valid, lgb.predict_proba(X_valid)))
        print(f'================================================================================\n\n')
    ls = sum(losses)/5
    print(ls)
    return ls, lgb_models

In [18]:
out_loss, out_models = tr(out_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[49]	training's multi_logloss: 0.535603	valid_1's multi_logloss: 0.749611
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[37]	training's multi_logloss: 0.572633	valid_1's multi_logloss: 0.770504
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[61]	training's multi_logloss: 0.49183	valid_1's multi_logloss: 0.760164
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.416108	valid_1's multi_logloss: 0.724366
Early stopping, best iteration is:
[90]	training's multi_logloss: 0.435092	valid_1's multi_logloss: 0.720004
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[65]	training's multi_logloss: 0.490575	valid_1's multi_logloss: 0.73655
================================================================================


0.7473667736616412

In [20]:
in_loss, in_models = tr(in_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.62038	valid_1's multi_logloss: 0.744209
[200]	training's multi_logloss: 0.521963	valid_1's multi_logloss: 0.729235
Early stopping, best iteration is:
[266]	training's multi_logloss: 0.47498	valid_1's multi_logloss: 0.725871
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.625355	valid_1's multi_logloss: 0.737295
[200]	training's multi_logloss: 0.526116	valid_1's multi_logloss: 0.72286
Early stopping, best iteration is:
[218]	training's multi_logloss: 0.511477	valid_1's multi_logloss: 0.721449
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.615785	valid_1's multi_logloss: 0.755351
[200]	training's multi_logloss: 0.517087	valid_1's multi_logloss: 0.743465
Early stopping, best iteration is:
[261]	training's multi_logloss: 0.471513	valid_1's multi_logloss: 0.741379
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.622613	valid_1's multi_logloss: 0.747395
[200]	training's multi_logloss: 0.524092	valid_1's multi_logloss: 0.736255
Early stopping, best iteration is:
[230]	training's multi_logloss: 0.501196	valid_1's multi_logloss: 0.735222
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.618187	valid_1's multi_logloss: 0.749456
[200]	training's multi_logloss: 0.519773	valid_1's multi_logloss: 0.73922
Early stopping, best iteration is:
[220]	training's multi_logloss: 0.504483	valid_1's multi_logloss: 0.738651
================================================================================


0.7325143920950408

In [142]:
in_zeros = np.zeros([len(in_test),3])
for fold in range(5):
    in_zeros += in_models[fold].predict_proba(in_test)/5
in_output = pd.DataFrame(in_zeros)
in_output = in_output.reindex(index=pd.Index(idx_in_test))

In [186]:
in2 = np.concatenate((in_zeros,np.array(idx_in_test).reshape(-1,1)),axis=1)
out2 = np.concatenate((out_zeros,np.array(idx_out_test).reshape(-1,1)),axis=1)

In [187]:
output = pd.DataFrame(np.concatenate((in2,out2),axis=0),columns=[0,1,2,'index'])

In [188]:
output['index'] = output['index'].astype('int')

In [196]:
ss = pd.read_csv(d + '\\' +lst[1])

In [199]:
output

             0         1         2  index
0     0.254328  0.176459  0.569213      1
1     0.037702  0.077119  0.885179      2
2     0.150319  0.105418  0.744263      3
3     0.074441  0.168475  0.757084      4
4     0.057947  0.112467  0.829586      5
...        ...       ...       ...    ...
9995  0.045256  0.062820  0.891924   9968
9996  0.113289  0.091170  0.795541   9981
9997  0.162660  0.185026  0.652315   9988
9998  0.231756  0.133885  0.634359   9992
9999  0.083838  0.910228  0.005934   9994

[10000 rows x 4 columns]

In [200]:
for i in range(len(output)):
    row = output.loc[output['index']==i]
    ss.iloc[i,1:] = row.iloc[:,:3]

In [204]:
ss.to_csv('two_models.csv', index=False)

In [205]:
output.head()

          0         1         2  index
0  0.254328  0.176459  0.569213      1
1  0.037702  0.077119  0.885179      2
2  0.150319  0.105418  0.744263      3
3  0.074441  0.168475  0.757084      4
4  0.057947  0.112467  0.829586      5

In [206]:
output.tail()

             0         1         2  index
9995  0.045256  0.062820  0.891924   9968
9996  0.113289  0.091170  0.795541   9981
9997  0.162660  0.185026  0.652315   9988
9998  0.231756  0.133885  0.634359   9992
9999  0.083838  0.910228  0.005934   9994