
### 병원, 시설 정보
- *OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함*
- inst_id - 각 파일에서의 병원 고유 번호
- sido – 병원의 광역 지역 정보
- sgg – 병원의 시군구 자료
- openDate – 병원 설립일
- bedCount - 병원이 갖추고 있는 병상의 수
- instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류
    - 종합병원 : 입원환자 100명 이상 수용 가능
    - 병원 : 입원 환자 30명 이상 100명 미만 수용 가능
    - 의원 : 입원 환자 30명 이하 수용 가능
    - 한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.
- ownerChange – 대표자의 변동 

### 2017년 데이터

- revenue1 – 매출액, 2017(회계년도)년 데이터를 의미함
- salescost1 – 매출원가, 2017(회계년도)년 데이터를 의미함
- sga1 - 판매비와 관리비, 2017(회계년도)년 데이터를 의미함
- salary1 – 급여, 2017(회계년도)년 데이터를 의미함
- noi1 – 영업외수익, 2017(회계년도)년 데이터를 의미함
- noe1 – 영업외비용, 2017(회계년도)년 데이터를 의미함
- Interest1 – 이자비용, 2017(회계년도)년 데이터를 의미함
- ctax1 – 법인세비용, 2017(회계년도)년 데이터를 의미함
- Profit1 – 당기순이익, 2017(회계년도)년 데이터를 의미함
- liquidAsset1 – 유동자산, 2017(회계년도)년 데이터를 의미함
- quickAsset1 – 당좌자산, 2017(회계년도)년 데이터를 의미함
- receivableS1 - 미수금(단기), 2017(회계년도)년 데이터를 의미함
- inventoryAsset1 – 재고자산, 2017(회계년도)년 데이터를 의미함
- nonCAsset1 – 비유동자산, 2017(회계년도)년 데이터를 의미함
- tanAsset1 – 유형자산, 2017(회계년도)년 데이터를 의미함
- OnonCAsset1 - 기타 비유동자산, 2017(회계년도)년 데이터를 의미함
- receivableL1 – 장기미수금, 2017(회계년도)년 데이터를 의미함
- debt1 – 부채총계, 2017(회계년도)년 데이터를 의미함
- liquidLiabilities1 – 유동부채, 2017(회계년도)년 데이터를 의미함
- shortLoan1 – 단기차입금, 2017(회계년도)년 데이터를 의미함
- NCLiabilities1 – 비유동부채, 2017(회계년도)년 데이터를 의미함
- longLoan1 – 장기차입금, 2017(회계년도)년 데이터를 의미함
- netAsset1 – 순자산총계, 2017(회계년도)년 데이터를 의미함
- surplus1 – 이익잉여금, 2017(회계년도)년 데이터를 의미함
- employee1 – 고용한 총 직원의 수, 2017(회계년도)년 데이터를 의미함

### 2016년 데이터

- revenue2 – 매출액, 2016(회계년도)년 데이터를 의미함
- salescost2 – 매출원가, 2016(회계년도)년 데이터를 의미함
- sga2 - 판매비와 관리비, 2016(회계년도)년 데이터를 의미함
- salary2 – 급여, 2016(회계년도)년 데이터를 의미함
- noi2 – 영업외수익, 2016(회계년도)년 데이터를 의미함
- noe2 – 영업외비용, 2016(회계년도)년 데이터를 의미함
- interest2 – 이자비용, 2016(회계년도)년 데이터를 의미함
- ctax2 – 법인세비용, 2016(회계년도)년 데이터를 의미함
- profit2 – 당기순이익, 2016(회계년도)년 데이터를 의미함
- liquidAsset2 – 유동자산, 2016(회계년도)년 데이터를 의미함
- quickAsset2 – 당좌자산, 2016(회계년도)년 데이터를 의미함
- receivableS2 - 미수금(단기), 2016(회계년도)년 데이터를 의미함
- inventoryAsset2 – 재고자산, 2016(회계년도)년 데이터를 의미함
- nonCAsset2 – 비유동자산, 2016(회계년도)년 데이터를 의미함
- tanAsset2 – 유형자산, 2016(회계년도)년 데이터를 의미함
- OnonCAsset2 - 기타 비유동자산, 2016(회계년도)년 데이터를 의미함
- receivableL2 – 장기미수금, 2016(회계년도)년 데이터를 의미함
- Debt2 – 부채총계, 2016(회계년도)년 데이터를 의미함
- liquidLiabilities2 – 유동부채, 2016(회계년도)년 데이터를 의미함
- shortLoan2 – 단기차입금, 2016(회계년도)년 데이터를 의미함
- NCLiabilities2 – 비유동부채, 2016(회계년도)년 데이터를 의미함
- longLoan2 – 장기차입금, 2016(회계년도)년 데이터를 의미함
- netAsset2 – 순자산총계, 2016(회계년도)년 데이터를 의미함
- surplus2 – 이익잉여금, 2016(회계년도)년 데이터를 의미함
- employee2 – 고용한 총 직원의 수, 2016(회계년도)년 데이터를 의미함

In [1]:
import os
import pandas as pd
import numpy as np

import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

Bad key "axes.titlelocation" on line 10 in
C:\Users\gon2gon2\.matplotlib\stylelib\mystyle.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key "axes.titlecolor" on line 13 in
C:\Users\gon2gon2\.matplotlib\stylelib\mystyle.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
ss = pd.read_csv('./data/submission_sample.csv')

In [3]:
total = pd.concat([train, test])

In [4]:
cols = train.columns

In [5]:
print(cols)

Index(['inst_id', 'OC', 'sido', 'sgg', 'openDate', 'bedCount', 'instkind',
       'revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2',
       'employee1', 'employee2', 'ownerChange'],
      dtype='object')

In [9]:
def counter(df, col):
    return df[col].value_counts()

In [10]:
def diff(col):
    return set(train[col].unique()) - set(test[col].unique())

In [11]:
from sklearn.preprocessing import LabelEncoder as LE
def encoding(col):
    enc = LE()
    total = pd.concat([train,test])
    enc.fit(total[col])
    train[col] = enc.transform(train[col])
    test[col] = enc.transform(test[col])

# 2, sido

In [12]:
sido_train = counter(train,'sido')
sido_test = counter(test,'sido')
sido_train

gyeonggi     49
gyeongbuk    39
gyeongnam    35
busan        26
choongnam    23
jeonnam      21
seoul        19
jeonbuk      18
daegu        14
choongbuk    13
daejeon      13
incheon      10
gangwon      10
ulsan         8
gwangju       2
sejong        1
Name: sido, dtype: int64

In [13]:
counter(total,'sido')

gyeonggi     68
gyeongbuk    58
gyeongnam    46
busan        43
jeonbuk      31
choongnam    30
jeonnam      29
seoul        27
choongbuk    21
daegu        17
incheon      14
daejeon      14
ulsan        13
gangwon      10
jeju          3
gwangju       2
sejong        2
Name: sido, dtype: int64

In [14]:
encoding('sido')

# 3, sgg

In [15]:
encoding('sgg')

# 4, openDate

pass

In [22]:
cols[6]

'instkind'

# 6, instkind

In [32]:
train['instkind'] = train['instkind'].astype('str')
test['instkind'] = test['instkind'].astype('str')
total['instkind'] = total['instkind'].astype('str')

In [33]:
counter(train, 'instkind')

nursing_hospital        144
hospital                 88
general_hospital         37
clinic                   18
traditional_hospital      8
traditional_clinic        4
nan                       1
dental_clinic             1
Name: instkind, dtype: int64

In [34]:
counter(test, 'instkind')

nursing_hospital        63
hospital                36
general_hospital        19
clinic                   4
nan                      2
traditional_clinic       2
traditional_hospital     1
Name: instkind, dtype: int64

In [35]:
encoding('instkind')

In [37]:
cols[8]

'salescost1'

In [41]:
import time
for i in range(8,len(train.columns)):
    train.iloc[:5,i]
    time.sleep(3)

In [61]:
train.iloc[:5,50:]

,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [63]:
def to_str(col):
    train[col] = train[col].astype('str')
    test[col] = test[col].astype('str')
    total[col] = total[col].astype('str')

In [64]:
to_str('ownerChange')

In [65]:
encoding('ownerChange')

In [70]:
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [73]:
train['OC']

0        open
1        open
2        open
3        open
4        open
        ...
296      open
297     close
298     close
299     close
300      open
Name: OC, Length: 301, dtype: object

In [76]:
enc =LE()
train['OC'] = enc.fit_transform(train['OC'])

In [77]:
train['OC']

0      1
1      1
2      1
3      1
4      1
      ..
296    1
297    0
298    0
299    0
300    1
Name: OC, Length: 301, dtype: int32

In [94]:
train['employee1']

0       62.0
1      801.0
2      234.0
3      663.0
4      206.0
       ...
296    193.0
297     79.0
298      NaN
299    100.0
300     15.0
Name: employee1, Length: 301, dtype: float64

In [84]:
target = train.pop('OC')
train_id = train.pop('inst_id')

In [85]:
clf = xgb.XGBClassifier()

In [86]:
clf.fit(train,target)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [87]:
answer_sheet = test.pop('OC')
test_id = test.pop('inst_id')

In [111]:
test['employee1'] = test['employee1'].astype('str').str.replace(',','').astype('float')
test['employee2'] = test['employee2'].astype('str').str.replace(',','').astype('float')

In [113]:
pred = clf.predict(test[train.columns])

In [116]:
test['OC'] =pred

In [117]:
test

,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,salary1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,10,138,19981125.0,300.0,2,6.682486e+10,0.000000e+00,6.565709e+10,3.223695e+10,...,5.540643e+10,5.068443e+10,3.714334e+10,4.720000e+09,4.690000e+09,1.608540e+10,8.944587e+09,693.0,693.0,2
1,1,11,148,20160309.0,44.0,3,3.495758e+10,0.000000e+00,3.259270e+10,1.672254e+10,...,6.730838e+10,4.209828e+10,2.420000e+10,2.521009e+10,1.830000e+10,3.789135e+09,0.000000e+00,379.0,371.0,2
2,1,13,102,19890427.0,276.0,2,2.326031e+10,2.542571e+09,2.308749e+10,1.168734e+10,...,0.000000e+00,2.777589e+10,2.182278e+10,0.000000e+00,0.000000e+00,0.000000e+00,1.638540e+10,NaN,NaN,1
3,1,0,70,20100226.0,363.0,2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.211517e+10,9.556237e+09,4.251867e+09,2.558931e+09,0.000000e+00,3.914284e+10,0.000000e+00,760.0,760.0,2
4,1,12,25,20040604.0,213.0,2,5.037025e+10,0.000000e+00,4.855803e+10,2.296346e+10,...,4.395973e+10,7.535567e+09,3.298427e+09,3.642417e+10,2.134712e+10,2.574488e+10,1.507269e+10,437.0,385.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0,13,32,20011012.0,0.0,6,2.233031e+10,8.484657e+08,1.849255e+10,1.232241e+10,...,1.563217e+10,1.288180e+10,0.000000e+00,2.750371e+09,0.000000e+00,1.384958e+10,0.000000e+00,560.0,NaN,1
123,1,8,73,20010530.0,NaN,7,1.833906e+10,0.000000e+00,1.760117e+10,6.824241e+09,...,3.176628e+09,1.376742e+09,0.000000e+00,1.799886e+09,1.740000e+09,8.574502e+09,7.136681e+09,132.0,137.0,2
124,1,8,115,20010101.0,150.0,3,1.424266e+10,1.726174e+09,1.148722e+10,6.279155e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,1
125,0,11,75,20010201.0,NaN,4,4.892710e+10,4.157148e+10,4.721485e+09,1.514547e+09,...,3.720397e+10,8.485918e+09,0.000000e+00,2.871805e+10,2.563120e+10,-2.050629e+08,0.000000e+00,363.0,343.0,2
126,0,1,162,19961216.0,96.0,3,1.092444e+10,1.168731e+09,8.709839e+09,3.784543e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,1

In [126]:
sum(test_id == ss['inst_id'])

127

In [121]:
len(ss)

127

In [138]:
pred = pred.astype('int32')

In [132]:
ss['OC']=pred

In [140]:
ss.to_csv('baseline.csv',index=False)

In [137]:
target

0      1
1      1
2      1
3      1
4      1
      ..
296    1
297    0
298    0
299    0
300    1
Name: OC, Length: 301, dtype: int32

In [134]:
ss

     inst_id  OC
0          2   1
1          5   1
2          6   1
3          8   1
4         10   1
..       ...  ..
122      424   0
123      425   1
124      429   1
125      430   0
126      431   0

[127 rows x 2 columns]