In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
display(train.head())
display(test.head())

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,missing
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
2,2,0,0,0,0,0,0,0,5,0,...,0,0,30,43,0,0,0,0,0,6
3,3,0,0,0,1,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NAN
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,11,0,0,0,0,0,0,0,0,0,...,9,10,9,9,8,1,0,0,0,0
1,15,0,0,0,0,0,0,0,0,16,...,0,0,1,1,1,1,0,0,0,0
2,17,0,0,0,0,0,0,0,0,0,...,101,20,0,0,1,0,0,0,0,0
3,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22,0,0,0,0,0,0,0,0,0,...,69,0,0,2,0,0,0,0,0,0

In [2]:
train['label'].value_counts()

4          4800
1          4800
6          4800
5          4800
7          4800
missing    4800
0          4713
NAN          87
9            80
8            80
3            80
Name: label, dtype: int64

In [4]:
train['label'].value_counts()

5          4800
7          4800
missing    4800
1          4800
6          4800
4          4800
0          4713
NAN          87
8            80
3            80
9            80
Name: label, dtype: int64

In [5]:
train.loc[train['label']== 'NAN','label'] = '0'

In [6]:
train['label'].value_counts()

5          4800
0          4800
7          4800
missing    4800
1          4800
6          4800
4          4800
8            80
3            80
9            80
Name: label, dtype: int64

In [7]:
train.loc[train['label']== 'missing','label'] = '2'

In [8]:
train['label'].value_counts()

5    4800
0    4800
7    4800
1    4800
2    4800
6    4800
4    4800
8      80
3      80
9      80
Name: label, dtype: int64

In [9]:
train_id = train.pop('id')
test_id = test.pop('id')

In [10]:
y = train.pop('label')

In [11]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [28]:
from sklearn.model_selection import train_test_split, cross_val_score
xgb_clf = XGBClassifier()
lgb_clf = LGBMClassifier()

In [29]:
X_train, X_test, y_train, y_test = train_test_split(train, y ,random_state=1123)

In [30]:
xgb_clf.fit(train, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [17]:
sam = pd.read_csv('sample_submission.csv')
sam

         id  label
0        11      1
1        15      1
2        17      1
3        21      1
4        22      1
...     ...    ...
8455  59970      1
8456  59971      1
8457  59982      1
8458  59986      1
8459  59996      1

[8460 rows x 2 columns]

In [36]:
xgb_default = pd.DataFrame({'id': test_id,'label': pred})
xgb_default.to_csv('xgb_dft.csv',index=False)

In [37]:
lgb_clf.fit(train,y)
pred1 = lgb_clf.predict(test)
pred1 = pred1.astype('int64')
lgbm_dft = pd.DataFrame({'id': test_id,'label': pred1})
lgbm_dft.to_csv('lgbm_dft.csv',index=False)

In [38]:
from sklearn.ensemble import RandomForestClassifier
rnd_clf = RandomForestClassifier()
rnd_clf.fit(train,y)

TypeError: predict() takes 2 positional arguments but 3 were given

In [39]:
pred2 = rnd_clf.predict(test)
pred2 = pred2.astype('int64')
rnd_dft = pd.DataFrame({'id':test_id,'label':pred2})
rnd_dft.to_csv('rnd_dft.csv',index=False)

In [41]:
xgb = XGBClassifier()
lgbm = LGBMClassifier()
rnf = RandomForestClassifier()

In [42]:
from sklearn.ensemble import VotingClassifier
eclf = VotingClassifier(estimators = [('xgb',xgb),('lgbm',lgbm),('rnf',rnf)],voting='soft')
eclf.fit(train,y)
pred4 = lgb_clf.predict(test)
pred4 = pred4.astype('int64')
eclf = pd.DataFrame({'id': test_id,'label': pred4})
eclf.to_csv('soft_vot.csv',index=False)

In [44]:
import time
s = time.time()
xgb1 = XGBClassifier(n_estimators=700, max_depth=5)
xgb1.fit(train, y)
e= time.time()

In [47]:
print(e-s)

479.1581132411957

In [46]:
pred = rnd_clf.predict(test)
pred = pred.astype('int64')
xgb7_5 = pd.DataFrame({'id':test_id,'label':pred})
xgb7_5.to_csv('xgb7_5.csv',index=False)

In [48]:
479/60

7.983333333333333

In [50]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train)
train_scl = scaler.transform(train)
test_scl = scaler.transform(test)

In [51]:
xgb2 = XGBClassifier()
xgb2.fit(train_scl,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [54]:
p1 = xgb2.predict(test_scl)
p1 = p1.astype('int64')
std= pd.DataFrame({'id':test_id,'label':p1})
std.to_csv('std.csv',index=False)

In [12]:
xgb1 = XGBClassifier(n_estimators=800, max_depth=4)
xgb1.fit(train, y)
pred = xgb1.predict(test)
pred = pred.astype('int64')
xgb8_4 = pd.DataFrame({'id':test_id,'label':pred})
xgb8_4.to_csv('xgb8_4.csv',index=False)

NameError: name 's' is not defined