In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
display(train.head())
display(test.head())

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,missing
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
2,2,0,0,0,0,0,0,0,5,0,...,0,0,30,43,0,0,0,0,0,6
3,3,0,0,0,1,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NAN
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,11,0,0,0,0,0,0,0,0,0,...,9,10,9,9,8,1,0,0,0,0
1,15,0,0,0,0,0,0,0,0,16,...,0,0,1,1,1,1,0,0,0,0
2,17,0,0,0,0,0,0,0,0,0,...,101,20,0,0,1,0,0,0,0,0
3,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22,0,0,0,0,0,0,0,0,0,...,69,0,0,2,0,0,0,0,0,0

In [2]:
train['label'].value_counts()

4          4800
1          4800
6          4800
5          4800
7          4800
missing    4800
0          4713
NAN          87
9            80
8            80
3            80
Name: label, dtype: int64

In [4]:
train['label'].value_counts()

5          4800
7          4800
missing    4800
1          4800
6          4800
4          4800
0          4713
NAN          87
8            80
3            80
9            80
Name: label, dtype: int64

In [5]:
train.loc[train['label']== 'NAN','label'] = '0'

In [6]:
train['label'].value_counts()

5          4800
0          4800
7          4800
missing    4800
1          4800
6          4800
4          4800
8            80
3            80
9            80
Name: label, dtype: int64

In [7]:
train.loc[train['label']== 'missing','label'] = '2'

In [8]:
train['label'].value_counts()

5    4800
0    4800
7    4800
1    4800
2    4800
6    4800
4    4800
8      80
3      80
9      80
Name: label, dtype: int64

In [9]:
train_id = train.pop('id')
test_id = test.pop('id')

In [10]:
y = train.pop('label')

In [11]:
from xgboost import XGBClassifier

In [12]:
xgb1 = XGBClassifier(n_estimators=800, max_depth=4)
xgb1.fit(train, y)
pred = xgb1.predict(test)
pred = pred.astype('int64')
xgb8_4 = pd.DataFrame({'id':test_id,'label':pred})
xgb8_4.to_csv('xgb8_4.csv',index=False)

NameError: name 's' is not defined