<a href = 'https://www.kaggle.com/c/sejongai-challenge-pretest-1/overview'>당뇨병</a>

### Evaluation
categorization accuracy 를 이용하여 evaluation을 수행합니다.
제출시에 Label 을 int형으로 제출해야함에 주의하세요!

In [52]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
train = pd.read_csv('C:/kaggle/ai_challenge/pretest/당뇨병(분류)/data/train.csv')
test = pd.read_csv('C:/kaggle/ai_challenge/pretest/당뇨병(분류)/data/test_data.csv')

train.csv : 당뇨병 환자의 정보 0~7열, 환자의 당뇨병 보유 여부 8열

test_data.csv : 당뇨병 환자의 정보 0~7열

submit_sample.csv : test_data.csv를 기반으로 환자의 당뇨병 보유 여부를 1(ture)/0(false)으로 예측하시면 됩니다.

주의사항. int 형인 1,0으로 예측하셔야합니다.

In [54]:
train.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,0,-0.294118,0.487437,0.180328,-0.292929,0.000000,0.001490,-0.531170,-0.033333,0.0
1,1,-0.882353,-0.145729,0.081967,-0.414141,0.000000,-0.207153,-0.766866,-0.666667,1.0
2,2,-0.058824,0.839196,0.049180,0.000000,0.000000,-0.305514,-0.492741,-0.633333,0.0
3,3,-0.882353,-0.105528,0.081967,-0.535354,-0.777778,-0.162444,-0.923997,0.000000,1.0
4,4,0.000000,0.376884,-0.344262,-0.292929,-0.602837,0.284650,0.887276,-0.600000,0.0

In [55]:
test.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,-0.882353,0.085427,-0.016393,-0.070707,-0.579196,0.058122,-0.712212,-0.900000
1,1,-0.411765,-0.025126,0.245902,-0.454545,0.000000,0.061103,-0.743809,0.033333
2,2,-0.529412,-0.165829,0.409836,-0.616162,0.000000,-0.126677,-0.795901,-0.566667
3,3,-0.882353,0.145729,0.081967,-0.272727,-0.527187,0.135618,-0.819812,0.000000
4,4,-0.882353,0.497487,0.114754,-0.414141,-0.699764,-0.126677,-0.768574,-0.300000

In [56]:
train.isnull().sum()

Unnamed: 0    0
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
8             0
dtype: int64

In [57]:
test.isnull().sum()

Unnamed: 0    0
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
dtype: int64

In [8]:
y = train.pop('8')

In [9]:
train.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,-0.294118,0.487437,0.180328,-0.292929,0.000000,0.001490,-0.531170,-0.033333
1,1,-0.882353,-0.145729,0.081967,-0.414141,0.000000,-0.207153,-0.766866,-0.666667
2,2,-0.058824,0.839196,0.049180,0.000000,0.000000,-0.305514,-0.492741,-0.633333
3,3,-0.882353,-0.105528,0.081967,-0.535354,-0.777778,-0.162444,-0.923997,0.000000
4,4,0.000000,0.376884,-0.344262,-0.292929,-0.602837,0.284650,0.887276,-0.600000

In [14]:
train.drop(['Unnamed: 0'],axis=1,inplace=True)
test.drop(['Unnamed: 0'],axis=1,inplace=True)

In [15]:
test.head()

,0,1,2,3,4,5,6,7
0,-0.882353,0.085427,-0.016393,-0.070707,-0.579196,0.058122,-0.712212,-0.900000
1,-0.411765,-0.025126,0.245902,-0.454545,0.000000,0.061103,-0.743809,0.033333
2,-0.529412,-0.165829,0.409836,-0.616162,0.000000,-0.126677,-0.795901,-0.566667
3,-0.882353,0.145729,0.081967,-0.272727,-0.527187,0.135618,-0.819812,0.000000
4,-0.882353,0.497487,0.114754,-0.414141,-0.699764,-0.126677,-0.768574,-0.300000

In [17]:
train.head()

,0,1,2,3,4,5,6,7
0,-0.294118,0.487437,0.180328,-0.292929,0.000000,0.001490,-0.531170,-0.033333
1,-0.882353,-0.145729,0.081967,-0.414141,0.000000,-0.207153,-0.766866,-0.666667
2,-0.058824,0.839196,0.049180,0.000000,0.000000,-0.305514,-0.492741,-0.633333
3,-0.882353,-0.105528,0.081967,-0.535354,-0.777778,-0.162444,-0.923997,0.000000
4,0.000000,0.376884,-0.344262,-0.292929,-0.602837,0.284650,0.887276,-0.600000

In [23]:
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate

In [19]:
X_train, X_test, y_train,y_test = train_test_split(train, y, test_size=0.2, random_state=1123)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(567, 8)
(142, 8)
(567,)
(142,)

In [24]:
import xgboost as xgb
from xgboost import XGBClassifier

In [25]:
xgb_clf = XGBClassifier(n_estimators=100, random_state=1123, learning_rate=0.02,max_depth=5)

In [29]:
scores = cross_val_score(xgb_clf, train, y, scoring='accuracy', cv=5)

In [35]:
print(scores.mean())

0.7616721606233143

In [34]:
print(scores.mean())

0.7616721606233143

In [32]:
xgb_clf.fit(X_train,y_train,eval_metric='error',eval_set=[(X_train,y_train),(X_test,y_test)])

[0]	validation_0-error:0.17108	validation_1-error:0.26056
[1]	validation_0-error:0.16931	validation_1-error:0.26056
[2]	validation_0-error:0.16049	validation_1-error:0.25352
[3]	validation_0-error:0.16755	validation_1-error:0.26056
[4]	validation_0-error:0.15168	validation_1-error:0.25352
[5]	validation_0-error:0.15520	validation_1-error:0.26056
[6]	validation_0-error:0.15168	validation_1-error:0.26056
[7]	validation_0-error:0.15168	validation_1-error:0.25352
[8]	validation_0-error:0.15168	validation_1-error:0.26056
[9]	validation_0-error:0.14638	validation_1-error:0.26056
[10]	validation_0-error:0.14815	validation_1-error:0.26056
[11]	validation_0-error:0.14815	validation_1-error:0.26056
[12]	validation_0-error:0.14638	validation_1-error:0.26056
[13]	validation_0-error:0.14638	validation_1-error:0.26056
[14]	validation_0-error:0.14991	validation_1-error:0.26056
[15]	validation_0-error:0.14815	validation_1-error:0.26056
[16]	validation_0-error:0.14462	validation_1-error:0.26056
[17]	validation_0-error:0.14815	validation_1-error:0.25352
[18]	validation_0-error:0.14462	validation_1-error:0.25352
[19]	validation_0-error:0.14462	validation_1-error:0.24648
[20]	validation_0-error:0.14462	validation_1-error:0.24648
[21]	validation_0-error:0.14462	validation_1-error:0.23944
[22]	validation_0-error:0.14462	validation_1-error:0.23944
[23]	validation_0-error:0.14462	validation_1-error:0.24648
[24]	validation_0-error:0.14286	validation_1-error:0.22535
[25]	validation_0-error:0.14109	validation_1-error:0.22535
[26]	validation_0-error:0.13228	validation_1-error:0.22535
[27]	validation_0-error:0.13404	validation_1-error:0.22535
[28]	validation_0-error:0.13404	validation_1-error:0.23239
[29]	validation_0-error:0.13404	validation_1-error:0.23239
[30]	validation_0-error:0.13228	validation_1-error:0.23944
[31]	validation_0-error:0.13404	validation_1-error:0.23944
[32]	validation_0-error:0.13580	validation_1-error:0.23239
[33]	validation_0-error:0.13404	validation_1-error:0.23944
[34]	validation_0-error:0.13404	validation_1-error:0.23944
[35]	validation_0-error:0.13228	validation_1-error:0.23239
[36]	validation_0-error:0.13228	validation_1-error:0.23239
[37]	validation_0-error:0.13051	validation_1-error:0.23239
[38]	validation_0-error:0.12875	validation_1-error:0.23944
[39]	validation_0-error:0.12698	validation_1-error:0.24648
[40]	validation_0-error:0.12875	validation_1-error:0.24648
[41]	validation_0-error:0.12875	validation_1-error:0.24648
[42]	validation_0-error:0.13051	validation_1-error:0.23944
[43]	validation_0-error:0.13051	validation_1-error:0.23944
[44]	validation_0-error:0.12698	validation_1-error:0.23944
[45]	validation_0-error:0.12875	validation_1-error:0.23944
[46]	validation_0-error:0.12698	validation_1-error:0.23944
[47]	validation_0-error:0.13051	validation_1-error:0.23944
[48]	validation_0-error:0.12875	validation_1-error:0.23944
[49]	validation_0-error:0.12698	validation_1-error:0.23944
[50]	validation_0-error:0.12698	validation_1-error:0.23944
[51]	validation_0-error:0.12698	validation_1-error:0.23944
[52]	validation_0-error:0.12875	validation_1-error:0.23944
[53]	validation_0-error:0.12522	validation_1-error:0.23944
[54]	validation_0-error:0.12522	validation_1-error:0.23944
[55]	validation_0-error:0.12698	validation_1-error:0.23944
[56]	validation_0-error:0.12698	validation_1-error:0.23944
[57]	validation_0-error:0.12698	validation_1-error:0.23944
[58]	validation_0-error:0.12698	validation_1-error:0.23944
[59]	validation_0-error:0.12522	validation_1-error:0.23944
[60]	validation_0-error:0.12346	validation_1-error:0.24648
[61]	validation_0-error:0.12346	validation_1-error:0.24648
[62]	validation_0-error:0.12346	validation_1-error:0.24648
[63]	validation_0-error:0.12522	validation_1-error:0.25352
[64]	validation_0-error:0.12522	validation_1-error:0.25352
[65]	validation_0-error:0.12522	validation_1-error:0.25352
[66]	validation_0-error:0.12346	validation_1-error:0.25352
[67]	validation_0-error:0.12346	validation_1-error:0.25352
[68]	validation_0-error:0.12522	validation_1-error:0.25352
[69]	validation_0-error:0.12522	validation_1-error:0.25352
[70]	validation_0-error:0.12346	validation_1-error:0.25352
[71]	validation_0-error:0.12346	validation_1-error:0.25352
[72]	validation_0-error:0.12522	validation_1-error:0.25352
[73]	validation_0-error:0.12346	validation_1-error:0.25352
[74]	validation_0-error:0.11993	validation_1-error:0.25352
[75]	validation_0-error:0.11817	validation_1-error:0.25352
[76]	validation_0-error:0.11817	validation_1-error:0.26056
[77]	validation_0-error:0.11993	validation_1-error:0.26056
[78]	validation_0-error:0.12169	validation_1-error:0.26056
[79]	validation_0-error:0.11993	validation_1-error:0.26056
[80]	validation_0-error:0.11993	validation_1-error:0.26056
[81]	validation_0-error:0.11993	validation_1-error:0.26056
[82]	validation_0-error:0.11817	validation_1-error:0.26056
[83]	validation_0-error:0.11993	validation_1-error:0.26056
[84]	validation_0-error:0.11993	validation_1-error:0.26056
[85]	validation_0-error:0.11817	validation_1-error:0.26056
[86]	validation_0-error:0.11817	validation_1-error:0.26056
[87]	validation_0-error:0.11817	validation_1-error:0.26056
[88]	validation_0-error:0.11464	validation_1-error:0.26056
[89]	validation_0-error:0.11464	validation_1-error:0.26056
[90]	validation_0-error:0.11464	validation_1-error:0.26056
[91]	validation_0-error:0.11464	validation_1-error:0.26056
[92]	validation_0-error:0.11464	validation_1-error:0.26056
[93]	validation_0-error:0.11288	validation_1-error:0.26056
[94]	validation_0-error:0.11288	validation_1-error:0.25352
[95]	validation_0-error:0.11464	validation_1-error:0.25352
[96]	validation_0-error:0.11288	validation_1-error:0.25352
[97]	validation_0-error:0.11464	validation_1-error:0.24648
[98]	validation_0-error:0.11464	validation_1-error:0.24648
[99]	validation_0-error:0.11464	validation_1-error:0.24648

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.02, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=1123, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [45]:
pred = xgb_clf.predict(test)
pred = pred.astype('int')

In [46]:
sub3 = pd.DataFrame({'ID':range(0,50), 'Label':pred})

In [47]:
sam = pd.read_csv('C:/kaggle/ai_challenge/pretest/당뇨병(분류)/data/submit_sample.csv')
len(sam)

50

In [49]:
sam.head()

   ID  Label
0   0    NaN
1   1    NaN
2   2    NaN
3   3    NaN
4   4    NaN

In [50]:
sub3.head()

   ID  Label
0   0      1
1   1      1
2   2      1
3   3      1
4   4      1

In [51]:
sub3.to_csv('sub3.csv',index=False)

In [ ]:
pred1 = xgb_clf.predict(X_test)
print(metrics.accuracy_score(y_test, pred1))

In [ ]:
predicted = xgb_clf.predict(test)
submit_csv= pd.read_csv('/kaggle/input/sejongai-challenge-pretest-1/submit_sample.csv')
submit_csv['Label'] = predicted
submit_csv['Label'] = submit_csv['Label'].astype("int")
submit_csv.to_csv("/kaggle/working/submit.csv", index=False)

In [ ]:
predicted = predicted.astype('int')

In [ ]:
#Create a  DataFrame with the passengers ids and our prediction regarding whether they survived or not
submission = pd.DataFrame({'ID':submit_csv['ID'],'Label':predicted})

#Visualize the first 5 rows
submission.head()

In [ ]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
filename = 'test 1.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)