- Hour - 시간
- Minute - 분
- DHI - 수평면 산란일사량(Diffuse Horizontal Irradiance (W/m2))
- DNI - 직달일사량(Direct Normal Irradiance (W/m2))
- WS - 풍속(Wind Speed (m/s))
- RH - 상대습도(Relative Humidity (%))
- T - 기온(Temperature (Degree C))
- Target - 태양광 발전량 (kW)

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
warnings.filterwarnings('ignore')

In [6]:
train_orig = pd.read_csv('./data/train/train.csv')
sample = pd.read_csv('./data/sample_submission.csv')

In [7]:
sample

,id,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
0,0.csv_Day7_0h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.csv_Day7_0h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.csv_Day7_1h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.csv_Day7_1h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.csv_Day7_2h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7771,80.csv_Day8_21h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7772,80.csv_Day8_22h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7773,80.csv_Day8_22h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7774,80.csv_Day8_23h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7775,80.csv_Day8_23h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
test_0 = pd.read_csv('./data/test/0.csv')
test_1 = pd.read_csv('./data/test/1.csv')
test_2 = pd.read_csv('./data/test/2.csv')

In [15]:
test_80 = pd.read_csv('./data/test/80.csv')

In [20]:
display(test_0)
display(test_80)

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0      0     0       0    0    0  2.7  34.42  0.0     0.0
1      0     0      30    0    0  2.7  34.17  0.1     0.0
2      0     1       0    0    0  2.7  34.23  0.2     0.0
3      0     1      30    0    0  2.7  33.99  0.3     0.0
4      0     2       0    0    0  2.8  33.97  0.4     0.0
..   ...   ...     ...  ...  ...  ...    ...  ...     ...
331    6    21      30    0    0  3.6  56.09 -8.0     0.0
332    6    22       0    0    0  3.4  53.54 -8.2     0.0
333    6    22      30    0    0  3.4  53.89 -8.3     0.0
334    6    23       0    0    0  3.4  51.96 -8.4     0.0
335    6    23      30    0    0  3.4  51.96 -8.4     0.0

[336 rows x 9 columns]

     Day  Hour  Minute  DHI  DNI   WS     RH     T  TARGET
0      0     0       0    0    0  2.1  82.64   3.9     0.0
1      0     0      30    0    0  2.1  83.22   3.8     0.0
2      0     1       0    0    0  2.0  82.28   3.8     0.0
3      0     1      30    0    0  1.8  82.86   3.7     0.0
4      0     2       0    0    0  1.7  82.29   3.6     0.0
..   ...   ...     ...  ...  ...  ...    ...   ...     ...
331    6    21      30    0    0  0.8  63.35  13.7     0.0
332    6    22       0    0    0  0.7  64.82  13.1     0.0
333    6    22      30    0    0  0.7  66.10  12.8     0.0
334    6    23       0    0    0  0.6  67.64  12.4     0.0
335    6    23      30    0    0  0.6  69.44  12.0     0.0

[336 rows x 9 columns]

In [27]:
from xgboost import XGBRegressor
y = train.pop('TARGET')
xgb = XGBRegressor()

In [41]:
xgb.fit(train,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [45]:
test_0

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0      0     0       0    0    0  2.7  34.42  0.0     0.0
1      0     0      30    0    0  2.7  34.17  0.1     0.0
2      0     1       0    0    0  2.7  34.23  0.2     0.0
3      0     1      30    0    0  2.7  33.99  0.3     0.0
4      0     2       0    0    0  2.8  33.97  0.4     0.0
..   ...   ...     ...  ...  ...  ...    ...  ...     ...
331    6    21      30    0    0  3.6  56.09 -8.0     0.0
332    6    22       0    0    0  3.4  53.54 -8.2     0.0
333    6    22      30    0    0  3.4  53.89 -8.3     0.0
334    6    23       0    0    0  3.4  51.96 -8.4     0.0
335    6    23      30    0    0  3.4  51.96 -8.4     0.0

[336 rows x 9 columns]

In [46]:
test_1

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0      0     0       0    0    0  2.8  70.34 -6.1     0.0
1      0     0      30    0    0  2.9  71.97 -6.4     0.0
2      0     1       0    0    0  2.9  69.77 -6.7     0.0
3      0     1      30    0    0  2.9  71.95 -7.1     0.0
4      0     2       0    0    0  2.9  69.48 -7.4     0.0
..   ...   ...     ...  ...  ...  ...    ...  ...     ...
331    6    21      30    0    0  1.7  43.65 -5.2     0.0
332    6    22       0    0    0  1.5  40.62 -4.9     0.0
333    6    22      30    0    0  1.5  40.62 -4.9     0.0
334    6    23       0    0    0  1.5  39.21 -4.9     0.0
335    6    23      30    0    0  1.5  39.50 -5.0     0.0

[336 rows x 9 columns]

In [44]:
max(test_0["TARGET"])

47.29740695

In [47]:
max(train_orig["TARGET"])

99.91393869